html {
  scroll-behavior: smooth;
}

header {
  text-align: center;
}

header h1 {
  display: inline;
  padding: 0;
  margin: 0;
  font-family: Calibri;
  font-size: 48px;
}

/* NOTE: Temporary */
header img {
  height: 100px;
  width:200px;
}

body {
  /*ref https://www.istockphoto.com/au/vector/beautiful-seamless-galaxy-texture-gm1023338406-274663745
  background-image: url("../../media/BG.jpg");*/
  background-color: gray;
  margin: 0px;
}

nav {
  background-color: hsla(0,0%,93.7%, 0.95);
  top:0;
  position: sticky;
}

nav ul  {
  margin: 0px;
  padding: 16px;
  overflow: hidden;
  text-align: center;
}

nav li {
display: inline;
}

nav li a {
  padding: 12px 16px;
  text-decoration: none;
  color:#565656;
  font-size: 18px;
  font-family: Calibri;

}

nav a:hover {
  color: #000;
  border-bottom: 4px solid #FF3B3F;
}

table, th, td {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  margin: 5%;
}

#About_Us, #Prices, #Now_Showing{
  /* NOTE: sets section to occupy 100% of the viewport */
  height: 100vh;
}

#About_Us {
  background:#CAEBF2;
  color:#A9A9A9;
}

#Prices {
  background:#FF3B3F;

background-image: url("../../media/Parallax_BG.jpg");
  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Now_Showing {
  background:purple;
  text-align: center;
}

.split-1 {
  width: 100%;
  border:2px solid black;
  box-sizing:border-box;
  background: green;
}

.split-2 {
  width:50%;
  float: left;
  border:2px solid black;
  box-sizing:border-box;
}

.split-3 {
  width:50%;
  float: right;
  border:2px solid black;
  box-sizing:border-box;
}

.Img_Seats {
  height: 100%;
  width: 100%;
}

.movie_dispay-1 {
  float:left;
  border: 1px solid red;
  box-sizing: border-box;
  font-family: Verdana;
  text-align: center;
  width: 50%;

}

.movie-box {
  display: inline-block;
  width: 45%;
  height: auto;
  min-height: 400px;
  border: 1px solid blue;
  box-sizing:border-box;
  background:white;

}

.large-box {
  display: inline-block;
  width: 100%;
  height: auto;
  min-height: 400px;
  overflow: hidden;
  border: 1px solid blue;
  box-sizing:border-box;
  background:white;

}


@media screen and (min-width: 500px) {
  .movie-box {
    min-width: 100%;
  }


@media screen and (min-width: 800px) {
  .movie-box {
    min-width: 48%;
    box-sizing: border-box;
    }

}




footer {
  padding-left: 5%;
  padding-right: 5%;
  background-color: hsla(0,0%,93.7%, 0.95);
  color:#565656;
  font-family: Calibri;
}
